<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Welcome to school_name</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="/#/">Rishi Classes</a></li>
        <li><a class="navbar-brand" href="/python/">Python Test</a></li>
        <li><a class="navbar-brand" href="/java/">Java Test</a></li>
        <li><a class="navbar-brand" href="/aptitude/">Aptitude Test</a></li>
    </ul>
    <ul class="nav navbar-nav" >
        <li><a class="navbar-brand" href="/sign_up/">Signup</a></li>
        <li><a class="navbar-brand" href="/accounts/login/">Login</a></li>
        <li><a class="navbar-brand" href="/accounts/logout">Logout</a></li>
    </ul>
</nav>
    {% block body_block %}
    {% endblock %}
</body>
</html>