{% extends 'AuthPro_app/base.html' %}
{%block body_block %}
    <div class="jumbotron">
    <h1>
        Welcome to Rishi's Exams!
    </h1>
    <ul>
        <li>Hii Everyone welcome to world's Best exam portal!</li>
        <li>Hii Everyone welcome to world's Best exam portal!</li>
        <li>Hii Everyone welcome to world's Best exam portal!</li>
        <li>Hii Everyone welcome to world's Best exam portal!</li>
        <li>Hii Everyone welcome to world's Best exam portal!</li>
        <li>Hii Everyone welcome to world's Best exam portal!</li>
    </ul>
    </div>
{%endblock%}